$root-margin: 16px;

html,
body {
  height: 100%;
}

@font-face {
  font-family: Jokerman;
  src: url(/public/fonts/jokerman.eot), url(/public/fonts/jokerman.otf), url(/public/fonts/jokerman.svg), url(/public/fonts/jokerman.ttf), url(/public/fonts/jokerman.woff);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}

.root {
  margin: 0 auto;
  width: 1024px;
  height: 50%;

  @media screen and (max-width: 1024px) {
    margin: 0 $root-margin;
    width: calc(100% - 2 * #{$root-margin});
  }
}
