$text-color:   #666;
$border-color: #ccc;
$shadow-color: #bbb;

%regular-font {
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color;
    line-height: 1.5em;
}

%activate-edit-mode {
    .MuiOutlinedInput-root {
        &.Mui-disabled {
            .MuiOutlinedInput-notchedOutline {
                border-color: $border-color;
            }
        }
    }

    .recipe-input {       
        label {
            visibility: visible;
        }
    }

    .devider {
        visibility: hidden;
    }

    .edit-icon {
        display: none;
    }

    .save-icon,
    .undo-icon,
    .delete-icon {
        display: inline-flex;
    }
}

.hidden {
    display: none;
}

.recipe {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    &.activate-edit-mode {
        @extend %activate-edit-mode;
    }
    
    .devider {
        border: 0;
        border-top: 1px dashed $border-color;
        margin: 6px 10.5px 0;
    }

    .MuiOutlinedInput-root {
        &.Mui-disabled {
            .MuiOutlinedInput-notchedOutline {
                border-color: transparent;
            }
        }
    }

    .recipe-input {
        label {
            visibility: hidden;
        }
    }

    .save-icon,
    .undo-icon,
    .delete-icon {
        display: none;
    }

    .recipe-image-container {
        width: 40%;

        $image-spacing: 4%;
        .recipe-image {
            border: 1px solid $border-color;
            box-shadow: 3px 5px 4px $shadow-color;
            width: calc(100% - 3.6 * #{$image-spacing});
            padding: $image-spacing;
        }
    }

    .recipe-input-container {
        width: 60%;

        .recipe-input {        
            .title {
                font-weight: bold;
            }                

            input,
            textarea {
                @extend %regular-font;
                border-color: transparent;                
            }
        }
    }

    .recipe-button-container {
        display: flex;
        justify-content: flex-end;    

        .recipe-button-save {
            margin-left: 20px;
        }
    }

    .instructions {
        .MuiInputBase-root {
            @extend %regular-font;
        }
    }
}