.recipe-button-add-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 12px 0;

    button {
        align-self: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600; 
    }

    .recipe-button-add-text {
        margin-left: 4px;
    }
}