.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .add-icon {
        align-self: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
    }

    .logo {
        width: 300px;
    }
}