$grid-gap: 20px;

@mixin gridCols($cols) {
    grid-template-columns: repeat($cols, 1fr);
}

.recipe-list-container {
    @include gridCols(5);
    column-gap: $grid-gap;
    display: grid;
    row-gap: $grid-gap;

    a {
        text-decoration: none;
    }

    @media screen and (max-width: 1024px) {
        @include gridCols(4);
    }

    @media screen and (max-width: 768px) {
        @include gridCols(3);
    }

    @media screen and (max-width: 576px) {
        @include gridCols(2);
    }
}