$text-color:   #666;
$border-color: #ccc;
$shadow-color: #bbb;

%regular-font {
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color;
    line-height: 1.5em;
}

%activate-edit-mode {
    .MuiOutlinedInput-root {
        &.Mui-disabled {
            .MuiOutlinedInput-notchedOutline {
                border-color: $border-color;
            }
        }
    }

    .recipe-input {       
        label {
            visibility: visible;
        }
    }

    .devider {
        visibility: hidden;
    }

    .edit-icon {
        display: none;
    }

    .save-icon,
    .undo-icon,
    .delete-icon {
        display: inline-flex;
    }
}

.hidden {
    display: none;
}

.recipe {
    &.activate-edit-mode {
        @extend %activate-edit-mode;
    }
    
    .devider {
        border: 0;
        border-top: 1px dashed $border-color;
        margin: 6px 10.5px 0;
    }

    .MuiOutlinedInput-root {
        &.Mui-disabled {
            .MuiOutlinedInput-notchedOutline {
                border-color: transparent;
            }
        }
    }

    .recipe-container {
        display: flex;
    }

    .recipe-input {
        label {
            visibility: hidden;
        }
    }

    .save-icon,
    .undo-icon,
    .delete-icon {
        display: none;
    }

    $image-container-width: 30%;
    .recipe-image-container {
        width: $image-container-width;

        $image-spacing: 5%;
        .recipe-image {
            border: 1px solid $border-color;
            box-shadow: 3px 5px 4px $shadow-color;
            width: calc(100% - 2 * #{$image-spacing});
            padding: $image-spacing;

            &.transparent {
                opacity: .4;
            }
        }

        .recipe-image-label {
            display: block;
            position: relative;
        }

        $progress-size: 30px;
        .recipe-image-progress {
            position: absolute;
            left: calc(50% - #{$progress-size} / 2);
            top: calc(50% - #{$progress-size} / 2);
            display: none;

            &.visible {
                display: block;
            }
        }
    }

    $recipe-input-container-padding: 16px;
    .recipe-input-container {
        width: calc(100% - #{$image-container-width} - #{$recipe-input-container-padding});
        padding-left: $recipe-input-container-padding;

        .recipe-input {        
            .title {
                font-weight: bold;                
            }            

            input,
            textarea {
                @extend %regular-font;
                border-color: transparent;                
            }
        }
    }

    .recipe-button-container {
        display: flex;
        justify-content: flex-end;    

        .recipe-button-save {
            margin-left: 20px;
        }
    }

    .instructions {
        .MuiInputBase-root {
            @extend %regular-font;
        }
    }
}